<div class="database">
    {{#each rows}}
        <table>
            <tr>
                <th>
                    <h4>First Name:</h4>
                    <h5>{{firstname}}</h5> 
                </th>
            </tr>
            <tr>
                <th>
                    <h4>Last Name:</h4>
                    <h5>{{lastname}}</h5> 
                </th>
            </tr>   
            <tr>
                <th>
                    <h4>Username:</h4>
                    <h5>{{username}}</h5> 
                </th>
            </tr> 
            <tr>
                <th>
                    <h4>Password:</h4>
                    <h5 class="password">{{password}}</h5> <!-- Class used to prevent styling bug -->
                </th>
            </tr> 
            <tr>
                <th>
                    <h4>Salt:</h4>
                    <h5 class="salt">{{salt}}</h5> <!-- Class used to prevent styling bug -->
                </th>
            </tr> 
        </table>
    {{/each}}
</div>
