<div class="account">
        <!-- New register heading -->
        <h3 class="loginMessage">{{message}}</h3> <!-- Had to use class as nth wouldnt work without effecting over CSS -->

        <div class="container">
                <!-- Login heading -->
                <section class="login">
                        <h3>Login to account</h3>

                        <!-- Login form -->
                        <form method="post" action="/chat">
                                <input type="username" name="username" placeholder="Username:" size="100%">{{username}}
                                <div class="container">
                                        <input id="loginPassword" type="password" name="password" placeholder="Password:" maxlength="255" size="100%">{{password}} <!-- ID for toggle password function -->
                                        <a onclick="ShowPassword()" title="Fabián Alexis, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons">
                                                <img alt="Antu password-show-on" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Antu_password-show-on.svg/512px-Antu_password-show-on.svg.png">
                                        </a>
                                </div>
                                
                                <input type="submit" value="Login" >Login</input>
                                
                                <div class="container">
                                        <h5>Join or Create room</h5>
                                        <input type="text" name="room" placeholder="Enter room name:" size="100%"> {{room}}
                                </div>
                        </form>
                </section>

                <!-- Register heading -->
                <section class="register">
                        <h3>Or Register if you have not</h3>
                        
                        <!-- Register form -->
                        <form method="post" action="/registered">
                                <input type="firstname" name="firstname" placeholder="First Name:" maxlength="255" size="100%">{{firstname}}
                                <input type="lastname" name="lastname" placeholder="Last Name:" maxlength="255" size="100%">{{lastname}}
                                <input type="username" name="username" placeholder="Create Your Username:" maxlength="24" size="100%">{{username}}

                                <div class="container">
                                        <input id="registerPassword" type="password" name="password" placeholder="Password:" maxlength="255" size="100%">{{password}} <!-- ID for toggle password function -->
                                        <a onclick="ShowPassword()" title="Fabián Alexis, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons">
                                                <img alt="Antu password-show-on" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Antu_password-show-on.svg/512px-Antu_password-show-on.svg.png">
                                        </a>
                                </div>

                                <input type="submit" value="Register"></input>
                        </form>
                </section>
        </div>
</div>